input,
button,
.output {
    display: block;
    margin: auto;
    border: solid 3px var(--secondary-color);
    border-radius: 0.5rem;
    margin: 1rem auto 2rem;
    width: 400px;
    max-width: 80vw;
    height: 2rem;
    font-size: large;
    font-weight: bold;
}

button {
    width: auto;
    height: auto;
    padding: 0.5rem 1rem;
    background-color: var(--secondary-color);
    border-color: var(--primary-color);
    transition: ease 0.2s;
}
button:enabled:hover{
    border-color: var(--secondary-color);
    box-shadow: 1px 1px var(--text);
    cursor: pointer;
    transition: ease 0.2s;
}
button:disabled{
    background-color: white;
}

.output {
    height: auto;
    font-size: xx-large;
    display: none;
    padding: 1rem;
    border: solid 4px var(--primary-color);
    border-radius: 3rem;
    color: var(--secondary-color);
}