input,
button,
.output {
    display: block;
    margin: auto;
    border: solid 3px var(--secondary-color);
    border-radius: 1rem;
    margin: 1rem auto 2rem;
    width: 40vw;
    height: 2rem;
    font-size: large;
    font-weight: bold;
}

button {
    width: auto;
    height: auto;
    padding: 0.5rem 2rem;
    background-color: var(--secondary-color);
    border-color: var(--primary-color);
}
button:disabled{
    background-color: white;
}

.output {
    height: auto;
    font-size: xx-large;
    display: none;
    padding: 1rem;
    border: solid 4px var(--primary-color);
    border-radius: 3rem;
    color: var(--secondary-color);
}