:root {
    --primary-color: #222831;
    --secondary-color: #00ADB5;
    --text: #393E46;
    --off-white: #F3F4F6;
    --svg-secondary-filter: invert(51%) sepia(67%) saturate(2685%) hue-rotate(147deg) brightness(93%) contrast(101%);
}

.question{
 border: solid 2px var(--primary-color);
 width: 70vw;
 margin:1rem auto;
 border-radius: 0.5rem;
 text-align: left;
 padding: 0 1rem 0.5rem;
}

.question div {
    margin-bottom:0.3rem;
}
.question input {
    margin-right: 0.5rem;
   transform: scale(1.1);
}
.question p {
    padding-bottom: 0.3rem;
    border-bottom: solid 1px;
}

button {
    border: solid 2px var(--primary-color);
    background-color: var(--secondary-color);
    padding:0.5rem 2rem;
    font-size: large;
    font-weight: bold;
    border-radius: 0.4rem;
}

.output {
    height: auto;
    font-size: x-large;
    display: none;
    width: 70vw;
    margin: 1rem auto;
    padding: 1rem;
    border: solid 2px var(--primary-color);
    border-radius: 3rem;
    color: var(--secondary-color);
}